@model WebApiExplorer.Models.ControlsClass.Function

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Resources.Report.ReportInstancesGET_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-report-instances"
                    onclick="reportInstancesGet('@Model.FunctionName', '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])');">
                @Html.Raw(Resources.Report.ReportInstancesGET_GetInstances)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel report-instances">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Resources.Report.ReportInstancesGET_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Resources.Report.ReportInstancesGET_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Resources.Report.ReportInstancesGET_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstancesGET_FolderPath)</label>
                <span class="param-value-group">
                    <select name="folderPath" class="param-value" onchange="reportInstances_FolderPathChange($(this).val())" style="width: 100%; margin-bottom: 10px;">
                        <option value="none" selected="selected">@Html.Raw(Resources.Report.ReportInstancesGET_FolderPath_None)</option>
                        <option value="ReportsRoot/FlexCommonTasks/FlexCommonTasks.flxr">FlexCommonTasks.flxr</option>
                        <option value="c1ssrs/AdventureWorks">AdventureWorks (SSRS)</option>
                    </select>
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportInstancesGET_FolderPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstancesGET_ReportName)</label>
                <span class="param-value-group">
                    <select name="reportName" class="param-value" style="width: 100%; margin-bottom: 10px;"></select>
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportInstancesGET_ReportNameText)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Resources.Report.ReportInstancesGET_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Resources.Report.ReportInstancesGET_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function reportInstancesGet(id, url) {
        var folderPath = $(".report-instances .param-value[name=folderPath]").val();
        var reportName = $(".report-instances .param-value[name=reportName]").val();
        var fullUrl = url + "api/report/" + folderPath + "/" + reportName + "/$instances";

        $("#@(Model.FunctionName)headers pre").text("@(Resources.Report.ReportInstancesGET_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "GET",
            url: fullUrl,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(Resources.Report.ReportInstancesGET_StatusCode)" + xhr.status);
            }
        });
    }

    function reportInstances_FolderPathChange(folderPath) {
        var url = '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])';
        var select = $('.report-instances .param-value[name=reportName]').empty();
        $("button.btn-report-instances").attr("disabled", folderPath === "none");

        if (folderPath !== "none") {
            updateReportNames(folderPath, url, select);
        }
    }
</script>
