@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Url.Action("Index", "Home")">@(Resources.Resource.SiteNav_Home)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_AboutUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_About)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_SupportUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Support)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_PricingUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Pricing)</a>
    </li>
    <li class="bold">
        <a href="@(Resources.Resource.SiteNav_FreeTrialUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_FreeTrial)</a>
    </li>
    <li class="narrow-screen signout-btn">
        <a href="javascript:void(0)" onclick="logout()">@(Resources.Resource.SiteNav_SignOut)</a>
    </li>
</ul>
