@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(DataEngine.Result_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-getting-resultdata" disabled="disabled"
                    onclick="getResultData();">
                @Html.Raw(DataEngine.Result_GetResultData)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel getting-resultdata">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(DataEngine.Result_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(DataEngine.Result_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(DataEngine.Result_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(DataEngine.Result_DataSource)</label>
                <span class="param-value-group">
                    <input type="text" name="dataSourceKey" class="param-value" style="width: 100%;" oninput="gettingResultData_SettingChanged()" />
                </span>
                <label class="param-lable description">@Html.Raw(DataEngine.Result_DataSourceDesc)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(DataEngine.Result_Token)</label>
                <span class="param-value-group">
                    <input type="text" name="token" class="param-value" style="width: 100%;" oninput="gettingResultData_SettingChanged()" />
                </span>
                <label class="param-lable description">@Html.Raw(DataEngine.Result_TokenDesc)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(DataEngine.Result_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(DataEngine.Result_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function getResultData() {
        var tokenKey = $(".getting-resultdata .param-value[name=token]").val();
        var dataSourceKey = $(".getting-resultdata .param-value[name=dataSourceKey]").val();
        var fullUrl = '@(Configuration["WebAPIService"])' + "api/dataengine/" + dataSourceKey + "/analyses/" + tokenKey + "/result";

        $("#@(Model.FunctionName)headers pre").text("@(DataEngine.Result_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "GET",
            url: fullUrl,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(DataEngine.Result_StatusCode)" + xhr.status);
            }
        });
    }

    function gettingResultData_SettingChanged() {
        var tokenKey = $(".getting-resultdata .param-value[name=token]").val();
        var dataSourceKey = $(".getting-resultdata .param-value[name=dataSourceKey]").val();
        $("button.btn-getting-resultdata").attr("disabled", tokenKey.trim() === "" || dataSourceKey.trim() === "");
    }
</script>
