@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(DataEngine.UniqueValues_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-getting-uniquevalues" disabled="disabled"
                    onclick="getUnqiueValues();">
                @Html.Raw(DataEngine.UniqueValues_GetUnqiueValues)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel getting-uniquevalues">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(DataEngine.UniqueValues_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(DataEngine.UniqueValues_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(DataEngine.UniqueValues_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(DataEngine.UniqueValues_DataSource)</label>
                <span class="param-value-group">
                    <select name="dataSourceKey" class="param-value" onchange="getUnqiueValues_DataChanged()" style=" width: 100%; margin-bottom: 10px;">
                        <option value="none" selected="selected">@Html.Raw(DataEngine.UniqueValues_DataSource_None)</option>
                        <option value="complex10">@Html.Raw(DataEngine.UniqueValues_DataSource_Complex10)</option>
                        <option value="complex50">@Html.Raw(DataEngine.UniqueValues_DataSource_Complex50)</option>
                        <option value="complex100">@Html.Raw(DataEngine.UniqueValues_DataSource_Complex100)</option>
                        <option value="dataset10">@Html.Raw(DataEngine.UniqueValues_DataSource_Dataset10)</option>
                        <option value="dataset50">@Html.Raw(DataEngine.UniqueValues_DataSource_Dataset50)</option>
                        <option value="dataset100">@Html.Raw(DataEngine.UniqueValues_DataSource_Dataset100)</option>
                    </select>
                </span>
                <label class="param-lable description">@Html.Raw(DataEngine.UniqueValues_DataSourceDesc)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(DataEngine.UniqueValues_Field)</label>
                <span class="param-value-group">
                    <input name="field" class="param-value" style="width: 100%;" oninput="getUnqiueValues_SettingChanged()" />
                </span>
                <label class="param-lable description">
                    @Html.Raw(DataEngine.UniqueValues_FieldDesc)
                </label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(DataEngine.UniqueValues_ViewDefinition)</label>
                <span class="param-value-group">
                    <textarea name="view" class="param-value" style="width: 100%; height:100px;" oninput="getUnqiueValues_SettingChanged()"></textarea>
                </span>
                <label class="param-lable description">
                    @Html.Raw(DataEngine.UniqueValues_ViewDefinitionDesc)
                </label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(DataEngine.UniqueValues_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(DataEngine.UniqueValues_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function getUnqiueValues() {
        var dataSourceKey = $(".getting-uniquevalues .param-value[name=dataSourceKey]").val();
        var viewDefinition = $(".getting-uniquevalues .param-value[name=view]").val();
        var fieldKey = $(".getting-uniquevalues .param-value[name=field]").val();
        var postData = JSON.stringify({
            view: viewDefinition
        });
        var fullUrl = '@(Configuration["WebAPIService"])'
            + "api/dataengine/" + dataSourceKey + "/fields/" + fieldKey + "/uniquevalues";

        $("#@(Model.FunctionName)headers pre").text("@(DataEngine.UniqueValues_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "POST",
            url: fullUrl,
            cache: false,
            contentType: "application/json",
            data: postData,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(DataEngine.UniqueValues_StatusCode)" + xhr.status);
            }
        });
    }

    function getUnqiueValues_DataChanged() {
        var dataSourceKey = $(".getting-uniquevalues .param-value[name=dataSourceKey]").val();
        var text = "";
        if (dataSourceKey != "none") {
            text = "{fields:[{'binding':'Active','dataType':3},{'binding':'Country','dataType':1},{'binding':'Date','dataType':4},{'binding':'Discount','dataType':2},{'binding':'Downloads','dataType':2},{'binding':'ID','dataType':2},{'binding':'Product','dataType':1},{'binding':'Sales','dataType':2}],rowFields:{items:['Product']},columnFields:{items:['Country']},valueFields:{items:['Sales']}}";
        }
        $(".getting-uniquevalues .param-value[name=view]").val(text);
        $(".getting-uniquevalues .param-value[name=field]").val("Product");
        getUnqiueValues_SettingChanged();
    }

    function getUnqiueValues_SettingChanged() {
        var dataSourceKey = $(".getting-uniquevalues .param-value[name=dataSourceKey]").val();
        var viewDefinition = $(".getting-uniquevalues .param-value[name=view]").val();
        var fieldKey = $(".getting-uniquevalues .param-value[name=field]").val();
        $("button.btn-getting-uniquevalues").attr("disabled", dataSourceKey === "none" || !viewDefinition || !fieldKey);
    }
</script>
