@model WebApiExplorer.Models.ControlsClass.Function
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Report.ReportInstancePageSettingsPATCH_PageSettings)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-report-instance" disabled="disabled"
                    onclick="reportinstancePatchPageSettings('@Model.FunctionName', '@(Configuration["WebAPIService"])');">
                @Html.Raw(Report.ReportInstancePageSettingsPATCH_SetPageSettings)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel report-instance-patchpagesettings">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Report.ReportInstancePageSettingsPATCH_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Report.ReportInstancePageSettingsPATCH_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Report.ReportInstancePageSettingsPATCH_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Report.ReportInstancePageSettingsPATCH_ReportFullPath)</label>
                <span class="param-value-group">
                    <input type="text" name="reportFullPath" class="param-value" style="width: 100%; margin-bottom: 10px;" disabled="disabled" value="@(Report.ReportInstancePageSettingsPATCH_PleaseLoadAReportFirst)" />
                </span>
                <label class="param-lable description">@Html.Raw(Report.ReportInstancePageSettingsPATCH_ReportFullPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Report.ReportInstancePageSettingsPATCH_InstanceId)</label>
                <span class="param-value-group">
                    <input type="text" name="instanceId" class="param-value" style="width: 100%; margin-bottom: 10px;" disabled="disabled" value="@(Report.ReportInstancePageSettingsPATCH_PleaseLoadAReportFirst)" />
                </span>
                <label class="param-lable description">@Html.Raw(Report.ReportInstancePageSettingsPATCH_InstanceIdText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Report.ReportInstancePageSettingsPATCH_ReportPageSettings)</label>
                <span class="param-value-group">
                    <textarea name="reportPageSettings" class="param-value" style="width: 100%; height:100px;">paperSize=custom&height=10in&width=20.5cm</textarea>
                </span>
                <label class="param-lable description">
                    @Html.Raw(Report.ReportInstancePageSettingsPATCH_ReportPageSettingsText)
                </label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Report.ReportInstancePageSettingsPATCH_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Report.ReportInstancePageSettingsPATCH_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function reportinstancePatchPageSettings(id, url) {
        var instanceId = $(".report-instance-patchpagesettings .param-value[name=instanceId]").val();
        var reportFullPath = $(".report-instance-patchpagesettings .param-value[name=reportFullPath]").val();
        var reportPageSettings = $(".report-instance-patchpagesettings .param-value[name=reportPageSettings]").val();
        var fullUrl = url + "api/report/" + reportFullPath + "/$instances/" + instanceId + "/pagesettings";

        $("#@(Model.FunctionName)headers pre").text("@(Report.ReportInstancePageSettingsPATCH_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "PATCH",
            url: fullUrl,
            data: reportPageSettings,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(Report.ReportInstancePageSettingsPATCH_StatusCode)" + xhr.status);
            }
        });
    }
</script>
