@model WebApiExplorer.Models.ControlsClass.Function

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Resources.DataEngine.Analysis_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-analysis" disabled="disabled"
                    onclick="getAnalysis();">
                @Html.Raw(Resources.DataEngine.Analysis_GetAnalysis)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel analysis">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Resources.DataEngine.Analysis_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Resources.DataEngine.Analysis_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Resources.DataEngine.Analysis_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.DataEngine.Analysis_DataSource)</label>
                <span class="param-value-group">
                    <input type="text" name="dataSourceKey" class="param-value" style="width: 100%;" oninput="analysis_SettingChanged()" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.DataEngine.Analysis_DataSourceDesc)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.DataEngine.Analysis_Token)</label>
                <span class="param-value-group">
                    <input type="text" name="token" class="param-value" style="width: 100%;" oninput="analysis_SettingChanged()" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.DataEngine.Analysis_TokenDesc)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Resources.DataEngine.Analysis_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Resources.DataEngine.Analysis_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function getAnalysis() {
        var tokenKey = $(".analysis .param-value[name=token]").val();
        var dataSourceKey = $(".analysis .param-value[name=dataSourceKey]").val();
        var fullUrl = '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])'
            + "api/dataengine/" + dataSourceKey + "/analyses/" + tokenKey;

        $("#@(Model.FunctionName)headers pre").text("@(Resources.DataEngine.Analysis_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "GET",
            url: fullUrl,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(Resources.DataEngine.Analysis_StatusCode)" + xhr.status);
            }
        });
    }

    function analysis_SettingChanged() {
        var tokenKey = $(".analysis .param-value[name=token]").val();
        var dataSourceKey = $(".analysis .param-value[name=dataSourceKey]").val();
        $("button.btn-analysis").attr("disabled", tokenKey.trim() === "" || dataSourceKey.trim() === "");
    }
</script>
